@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap");
* {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}
section {
  padding: 2rem 9%;
}

header {
  background: #f9b714;
  align-items: center;
  padding: 1.5rem 7%;
 position: relative;
}
header .navbar a {
  margin: 0.4rem;
  font-size: 1rem;
  color: #2f1812;
}
header .navbar a:hover {
  color: #c91103;
  padding-bottom: 2rem;
}
.home{
    background-image: url(images/hot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f9b714;
    min-height: 90vh;
}