@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;700&display=swap");
* {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
section {
  padding: 2rem 9%;
}

header {
  background: #f9b714;
  align-items: center;
  padding: 1.5rem 7%;
  position: relative;
}
header .navbar a {
  margin: 0.4rem;
  font-size: 1rem;
  color: #2f1812;
}
header .navbar a:hover {
  color: #c91103;
  padding-bottom: 2rem;
}
.home h1{
  font-size: 8rem;
}
.home p{
  font-size: 2rem;
}
.heading span {
  color: #f9b714;
}
.home {
  background-image: url(images/hot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9b714;
  min-height: 90vh;
}
.menus {
  background-color: #2f1812;
}
.table{
  color: #f9b714;
}
.table:hover{
  color: #c91103;
}
.footer{
  background-color: #2f1812;
  color: #f9b714;
}
.footer a{
  color: #c91103;
}
.footer a:hover{
  color: #fff;
}
img{
  width: 100%;
}
